/*-- -------------------------- -->
<---          Landing           -->
<--- -------------------------- -*/

#contact-section {
    background: #1f1f1f;
    padding-top: 275px;
}

#contact-section .container {
    max-width: 388px;
    margin: auto;
}

.quote {
    font-size: 21px;
    line-height: 28px;
    font-weight: 800;
    max-width: 322px;
    margin-bottom: 6px;
}

.name {
    font-size: 21px;
    line-height: 28px;
    font-weight: 800;
    color: #D5BF86;
}

#get-involved .image {
    display: none;
}

#contact-submit {
    background: transparent;
    border: none;
    font-weight: 800 !important;
    margin-bottom: 60px;
    font-family: 'Open Sans', sans-serif;
}

form {
    margin-top: 50px;
}

input[type=text],
textarea {
    width: 100%;
    max-width: 388px;
    margin: auto;
    background: transparent;
    border: none;
    border-bottom: 2px solid #D5BF86;
    height: 33px;
    margin-bottom: 26px;
    font-family: 'Open Sans', sans-serif;
}

textarea {
    margin-bottom: 50px;
    height: 100px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 70px;
}

::-webkit-input-placeholder {
    font-size: 17px;
}

::-moz-placeholder {
    font-size: 17px;
}

:-ms-input-placeholder {
    font-size: 17px;
}

::-ms-input-placeholder {
    font-size: 17px;
}

::placeholder {
    font-size: 17px;
}

/*-- -------------------------- -->
<---        Get Involved        -->
<--- -------------------------- -*/

#get-involved {
    padding-bottom: 217px;
    padding-top: 60px;
}

/* Tablet */

@media screen and (min-width: 768px) {

    /*-- -------------------------- -->
    <---        Get Involved        -->
    <--- -------------------------- -*/

    #get-involved {
        padding: 100px 0;
    }

    #get-involved .image {
        display: inline-block;
        height: 585px;
        width: 426px;
        -webkit-transform: translateX(-160px);
            -ms-transform: translateX(-160px);
                transform: translateX(-160px);
    }

    #get-involved .right p:last-of-type {
        margin-bottom: 0;
    }

    #get-involved .header-span {
        margin-top: 20px;
    }

    #get-involved .right .padd {
        padding-left: 37px;
    }

}

/* Desktop */

@media screen and (min-width: 1024px) {

    #contact-section .container {
        max-width: 900px;
    }

    .form-group {
        max-width: 388px;
    }

    .right-image {
        background: url("/images/two.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 495px;
        width: 45%;
        position: absolute;
        top: 254px;
        right: 0;
    }

    #contact-submit {
        margin-bottom: 100px;
    }

    #get-involved .image {
        height: 570px;
        -webkit-transform: translateX(-120px);
            -ms-transform: translateX(-120px);
                transform: translateX(-120px);
    }

}