
html.clicked {
    position: relative;
}

/*-- -------------------------- -->
<---          Landing           -->
<--- -------------------------- -*/

#hero {
    position: relative;
    min-height: auto;
    padding-top: 63%;
}

#dark {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: .6;
}

video{
    position: absolute;
    top: -270px;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    bottom: 0;
}

#hero:before {
    content: '';
    position: absolute;
    display: block;
    height: 200%;
    width: 100%;
    top: 0;
    background: #000;
    z-index: 990000;
    -webkit-animation: load 1s ease-in-out;
            animation: load 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

@-webkit-keyframes load {
    from {
        height: 200%;
    }

    to {
        height: 0%;
    }
}

@keyframes load {
    from {
        height: 200%;
    }

    to {
        height: 0%;
    }
}

#hero .container {
    position: relative;
    min-height: 100%;
    display: block;
}

#hero .content {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
    z-index: 100;
    margin-bottom: 60px;
}

.header-span {
    color: #D5BF86;
    font-weight: 800;
    font-style: italic;
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
}

.header-span:after {
    content: '';
    position: relative;
    display: inline-block;
    margin-left: 7px;
    height: 2px;
    width: 17px;
    background: #D5BF86;
    vertical-align: middle;
}

#hero h1 {
    color: #fff;
    font-size: 17px;
    line-height: 23px;
    font-weight: normal;
    margin-bottom: 25px;
}

.donate {
    margin-bottom: 20px;
}

/*-- -------------------------- -->
<---        How We Work         -->
<--- -------------------------- -*/

#how-we-work {
    padding-top: 60px;
    position: relative;
    padding-bottom: 60px;
    background: #000;
}

#how-we-work p {
    margin-bottom: 7px;
}

#how-we-work img {
    display: block;
    margin: 20px auto;
}

#how-we-work .content .header-span {
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 24px;
    display: block;
    position: relative;
    padding-left: 10px;
}

#how-we-work .content .header-span:before {
    content: '';
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    height: 8px;
    width: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%) skew(-10deg);
        -ms-transform: translateY(-50%) skew(-10deg);
            transform: translateY(-50%) skew(-10deg);
    left: -30px;
}

#how-we-work .content .header-span:nth-of-type(1):before {
    background: #FCB711;
}

#how-we-work .content .header-span:nth-of-type(2):before {
    background: #C1282D;
}

#how-we-work .content .header-span:nth-of-type(3):before {
    background: #0065A5;
}

#how-we-work .content .header-span:nth-of-type(4):before {
    background: #D5BF86;
}

#how-we-work .content .header-span:nth-of-type(5):before {
    background: #964B36;
}

#how-we-work .content .header-span:nth-of-type(6):before {
    background: #7E8283;
}

#how-we-work h3 {
    color: #fff;
    font-size: 14px;
    line-height: 19px;
    font-weight: normal;
    margin-bottom: 10px;
    padding-left: 10px;
}

/*-- -------------------------- -->
<---       The Challenge        -->
<--- -------------------------- -*/

#challenge {
    padding: 60px 0 144px;
    background: #1f1f1f;
}

#challenge p {
    margin-bottom: 30px;
}

#challenge p:last-child {
    margin: 0;
}

/*-- -------------------------- -->
<---        Get Involved        -->
<--- -------------------------- -*/

#get-involved {
    padding: 144px 0 230px;
    position: relative;
}

#get-involved .image {
    height: 188px;
    width: 100%;
    background: url("/images/red-blue.jpg");
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: -238px;
}

#get-involved .left {
    margin-bottom: 20px;
    position: relative;
}

#get-involved .left p,
#get-involved .left span {
    font-size: 21px;
    line-height: 28px;
    font-weight: 800;
    font-style: italic;
}

#get-involved .left span {
    color: #D5BF86;
    font-style: italic;
}

#get-involved .right p {
    margin-bottom: 20px;
    padding-left: 10px;
}

#get-involved .right p:last-of-type {
    margin-bottom: 30px;
}

#get-involved .right .block {
    margin-bottom: 15px;
    position: relative;
    padding-left: 10px;
}

#get-involved .right .block:before {
    content: '';
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    height: 8px;
    width: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%) skew(-10deg);
        -ms-transform: translateY(-50%) skew(-10deg);
            transform: translateY(-50%) skew(-10deg);
    left: -30px;
}

#get-involved .right .block:nth-of-type(1):before {
    background: #0065A5;
}

#get-involved .right .block:nth-of-type(2):before {
    background: #C1282D;
}

#get-involved .right .block:nth-of-type(3):before {
    background: #FCB711;
}

#get-involved a {
    margin-left: 10px;
}

/*-- -------------------------- -->
<---         Donations          -->
<--- -------------------------- -*/

#donations {
    background: #1f1f1f;
    padding-top: 217px;
    padding-bottom: 60px;
    position: relative;
}

.image-group {
    position: absolute;
    height: 334px;
    width: 100%;
    max-width: 314px;
    top: -384px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.one {
    height: calc(53% - 5px);
    width: calc(50% - 5px);
    display: inline-block;
    background: #fff;
    vertical-align: top;
    background: url("/images/one.jpg");
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.two {
    display: inline-block;
    height: calc(47% - 5px);
    width: calc(50% - 5px);
    background: #fff;
    vertical-align: top;
    -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
            transform: translateX(10px);
    background: url("/images/two.jpg");
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.three {
    display: inline-block;
    height: calc(47% - 5px);
    width: calc(50% - 5px);
    background: #fff;
    vertical-align: bottom;
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
    background: url("/images/three.jpg");
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.four {
    display: inline-block;
    height: calc(53% - 5px);
    width: calc(50% - 5px);
    background: #fff;
    vertical-align: bottom;
    -webkit-transform: translateY(-10px) translateX(10px);
        -ms-transform: translateY(-10px) translateX(10px);
            transform: translateY(-10px) translateX(10px);
    background: url("/images/four.jpg");
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#donations .text p {
    margin-bottom: 30px;
}

/*Iphone 6/7/8 */
@media screen and (min-width: 375px) {

    /*-- -------------------------- -->
    <---          Landing           -->
    <--- -------------------------- -*/

    #hero {
        padding-top: 97%;
    }

    .involved {
        float: right;
    }

}

/* Tablet */
@media only screen and (min-width: 768px) {

   /*-- -------------------------- -->
   <---          Landing           -->
   <--- -------------------------- -*/

   #hero {
       padding-top: 461px;
   }

   #hero .content {
       width: 410px;
   }

   .header-span {
       font-size: 18px;
   }

   #hero h1 {
       font-size: 20px;
       line-height: 27px;
   }

   /*-- -------------------------- -->
   <---        How We Work         -->
   <--- -------------------------- -*/

   #how-we-work {
       padding-top: 100px;
   }

   #how-we-work img {
       position: absolute;
       right: 0px;
       width: 300px;
   }

   #how-we-work p {
       margin-bottom: 50px;
       width: 530px;
   }

   #how-we-work .content .header-span {
       font-size: 20px;
       line-height: 27px;
       padding-left: 0;
   }

   #how-we-work h3 {
       font-size: 16px;
       line-height: 22px;
       padding-left: 37px;
   }

   #how-we-work .content .header-span:before {
       width: 26px;
       left: 0px;
       position: relative;
       margin-right: 10px;
   }

   /*-- -------------------------- -->
   <---         Challenge          -->
   <--- -------------------------- -*/

   #challenge {
       padding: 100px 0;
   }

   /*-- -------------------------- -->
   <---       Get Involved         -->
   <--- -------------------------- -*/

   #get-involved {
       text-align: right;
       padding-bottom: 100px;
   }

   #get-involved .mobile {
       display: none;
   }

   #get-involved .desktop {
       display: block !important;
       margin-top: 20px;
   }

   #get-involved .left {
       display: inline-block;
       width: 270px;
       vertical-align: top;
       float: left;
       text-align: left !important;
   }

   #get-involved .image {
       position: relative;
       top: auto;
       -webkit-transform: none;
           -ms-transform: none;
               transform: none;
       height: 380px;
       margin-bottom: 50px;
   }

   #get-involved .right {
       display: inline-block;
       width: 370px;
       vertical-align: top;
       text-align: left !important;
   }

   #get-involved .right .block:before {
       position: relative;
       left: auto;
       margin-right: 10px;
   }

   #get-involved .right p,
   #get-involved .right .block {
       padding-left: 0;
   }

   #get-involved .right p:last-of-type {
       margin-bottom: 50px;
   }

   /*-- -------------------------- -->
   <---         Donations          -->
   <--- -------------------------- -*/

   #donations {
       padding-top: 100px;
       padding-bottom: 100px;
       height: 652px;
   }

   #donations .text {
       display: inline-block;
       width: 228px;
   }

   #donations .header-span {
       margin-top: 38px;
   }

   .image-group {
       top: auto;
       -webkit-transform: none;
           -ms-transform: none;
               transform: none;
       left: auto;
       display: inline-block;
       position: relative;
       float: right;
       width: 400px;
       max-width: 400px;
       height: 452px;
   }

   .three {
       -webkit-transform: translateY(-17px);
           -ms-transform: translateY(-17px);
               transform: translateY(-17px);
   }

   .four {
       -webkit-transform: translateY(-17px) translateX(10px);
           -ms-transform: translateY(-17px) translateX(10px);
               transform: translateY(-17px) translateX(10px);
   }

}


/* 1024 Laptops */
@media only screen and (min-width: 1024px) {

   /*-- -------------------------- -->
   <---          Landing           -->
   <--- -------------------------- -*/

   #hero {
       padding-top: 395px;
   }

   #hero .container {
       width: 788px;
   }

   #hero h1 {
       font-size: 40px;
       line-height: 50px;
       width: 600px;
   }

   .donate {
       margin-bottom: 0;
   }

   #hero .content {
       margin-bottom: 100px;
   }

   /*-- -------------------------- -->
   <---        How We Work         -->
   <--- -------------------------- -*/

   #how-we-work {
       padding: 100px 0;
   }

   #how-we-work .container {
       width: 788px;
   }

   /*-- -------------------------- -->
   <---         Challenge          -->
   <--- -------------------------- -*/

   #challenge .container {
       width: 670px;
   }

   /*-- -------------------------- -->
   <---        Get Involved        -->
   <--- -------------------------- -*/

   #get-involved .container {
       width: 790px;
   }

   #get-involved .left {
       width: 308px;
   }

   #get-involved .right {
       width: 390px;
   }

   #get-involved .image {
       height: 430px;
       margin-bottom: 70px;
   }

   #get-involved .right p:nth-of-type(1) {
       margin-bottom: 50px;
   }

   #get-involved .right .block:before {
       width: 26px;
   }

   #get-involved p.padd {
       padding-left: 37px;
   }

   /*-- -------------------------- -->
   <---          Donations         -->
   <--- -------------------------- -*/

   #donations .container {
       width: 720px;
   }

   #donations .text p {
       margin-bottom: 50px;
   }

}